// @import "node_modules/bootstrap/scss/bootstrap";
// run gulp after any modification

#admin-page {
    padding-top: 0;
}

.comment-reply {
    display: none;
}

.comment-reply-inner {
    display: none;
}

